# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
.ipynb_checkpoints

.DS_Store

# Folders
/data/*
!data/processed/

/references/
/src/obsolete/

# csv
*.csv
