<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Depression Detect</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DepressionDetect</a>
        </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/donate">Donate</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      <!-- /.navbar-collapse -->
      </div>
    <!-- /.container -->
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Become a Data Donor!</h1>
        <p>A major challenge for mental health researchers is access to data. Should you choose to donate, your data will be incorporated into a machine learnign algorithm that learns predictors of depression from acoustic features of speech. If you have lived with depression, know someone with depression, or if you would just like to help, please consider sharing your data.</p>

        <p><a href="https://github.com/kykiefer/depression-detect">DepressionDetect</a> is an open-source project rooted in Python. The project seeks to objectively identify early signs of depression from acoustic features of speech. Early detection and treatment of depression is essential in promoting remission, preventing relapse, and reducing the emotional burden of the disease. To date, the model has learned from over 70 people, but it needs <strong>your help!</strong> Learn more about the project below, donate your data, contribute some code, or share on social media.</p>

        <p>Your audio recordings are anonymized upon donation and will never be distributed. If you have specific questions on how your data is used contact us at <a href="mailto:kkiefer@umich.edu">kkiefer@umich.edu</a>.</p>

        <p><i>Your data really does help.</i></p>

        <p><a class="btn btn-primary btn-lg" href="donate" role="button">Donate! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Donate</h2>
          <p>We're in need of data donors. Take an 8 question depression survey and upload an audio file and we'll be eternally grateful. 5 minutes of your time could help save lives! </p>
          <p><a class="btn btn-default" href="donate" role="button">Donate &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Project</h2>
          <p>Want to get technical? Learn more about the data science behind creating a model to detect depression from speech and track how well we're predicting as our donations grow! </p>
          <p><a class="btn btn-default" href="project" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contact</h2>
          <p>If you're inspired, have feedback, or are eager to start contributing, drop us a line. This project is in an early stage with plenty of room for improvement. We're eager to hear from you! </p>
          <p><a class="btn btn-default" href="contact" role="button">Get in touch &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 DepressionDetect</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
